{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <h3 class="text-center">Поздравляем с регистрацией!</h3>
        <p class="text-center">Нажмите на кнопку чтобы начать пользоваться сайтом.</p>
        <p class="text-center"><a href="{{ path('translator_index') }}" class="btn btn-warning">Главная</a></p>
    </div>
{% endblock fos_user_content %}
