{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h3 class="text-center">Регистрация</h3>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group text-center">
        <input class="btn btn-primary" type="submit" value="Регистрация" />
    </div>
    <p class="text-center"><a href="{{ path('fos_user_security_login') }}">Войти</a></p>

    {{ form_end(form) }}

{% endblock fos_user_content %}
