{% extends "@App/Translator/layout.html.twig" %}

{% block title %}{{ 'translator.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center m-4">{{ 'translator.title'|trans }}</h1>
    {% for phrase in phrases %}
        <p>
            <a href="{{ path('translator_edit', {id : phrase.id}) }}">{{ phrase.translate(app.request.locale).content }}</a>
        </p>
    {% endfor %}
    <hr>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
